.topnav {
    background-color: rgb(159, 3, 3);
    overflow: hidden;
  }

.topnav a {
    float: right;
    color: pink;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 17px;
  }

.topnav a:hover {
    color: #ddd;
}

h1{
    text-align: center;
    font-size: 35px;
}
body{
    color: black;
    font-family:Arial;
    font-size: 20px;
    text-align: center;
    padding-right: 60px;
    padding-left: 60px;
}

div{
    border: solid 1px grey;
    background: rgb(159, 3, 3);
    color: white;
    height: 200px;  
    text-align: center;
}
span{
    border: solid 2px pink;
    color: pink;
}

img{
    width: 600px;
    height: 400px
}
.post{
    width: 500px;
    height: 650px;
}
.pic{
    width: 350px;
    height: 450px; 
}